:root {
  --dark: #232323;
  --light: #f5f5f4;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark);
  color: var(--light);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 1s;
}

.light {
  background: var(--light) !important;
  color: var(--dark) !important;
}

.light-button {
  border: 1px solid var(--dark) !important;
}

.dark-mode-button {
  color: var(--light);
  position: fixed;
  top: 10px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: transparent !important;
  border-radius: 50%;
  border: 1px solid var(--light);
  cursor: pointer;
  transition: all 1s;
}

.main-container {
  margin-top: 10px;
}

.title {
  margin-bottom: 5px;
}

.score {
  margin-top: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 20px;

  justify-items: center;
  text-align: center;
  margin-top: 30px;
}

.color-position {
  margin-bottom: 10px;
}

.color-box {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}
